@font-face{
    font-family: "font";
    src: url('Slabo27px-Regular.ttf');
  }
body{
    margin: 0;
}

.conteiner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent p{
    background-color: rgba(196, 197, 193, 0.856);
    font-family: font;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}
.parent div{
    color: rgb(97, 54, 19);
    text-align: center;
}
.parent {
    height: 100%;
    width: 100%;
    background-image: url(abolicao.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.div1 {
    grid-area: 2 / 3 / 3 / 4;
    transform: translateY(50px);
}

.div2 {
    grid-area: 3 / 3 / 4 / 4;
}

.div3 {
    grid-area: 3 / 4 / 4 / 5;
}

.div4 {
    grid-area: 4 / 3 / 5 / 4;
}

.div5 {
    grid-area: 4 / 4 / 5 / 5;
    transform: translateY(-50px);
}

.div6 {
    grid-area: 5 / 4 / 6 / 5;
    transform: translateY(-50px);
}